.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
    padding: 96px 80px;

    @include less-than('lg') {
        padding: 32px;
        min-height: 0;
    }

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;


    &__title {
        color: $color-white;
        max-width: 600px;
    }

    &__description {
        color: $color-white;
        max-width: 600px;
    }

    &__link {
        margin-top: 32px;
    }

    &--quiz {
        background-color: $bg-muted;
        padding: 64px;

        @include less-than('lg') {
            padding: 32px 24px;
        }

        & .banner {
            &__label {
                margin-bottom: 16px;
            }

            &__title {
                color: $color-text;
            }

            &__description {
                max-width: none;
                color: $color-muted;
            }
        }

    }

    &--newsletter {
        background-color: $bg-muted;
        padding: 64px;

        @include less-than('lg') {
            padding: 32px 24px;
        }

        & .banner {
            &__label {
                margin-bottom: 16px;
            }

            &__title {
                color: $color-text;
            }

            &__description {
                max-width: none;
                color: $color-muted;
            }
        }

        .hs-form-html {
            width: 100%;
        }

        & [data-hsfc-id=Renderer] .hsfc-RichText p,
        & [data-hsfc-id=Renderer] span {
            @include body;
            color: $color-muted;
        }

        & [data-hsfc-id=Renderer] .hsfc-TextInput {
            border-radius: 8px !important;
            border-color: white !important;
            background-color: white !important;
        }

        & .hsfc-Step__Content {
            padding: 0 !important;

            & .hsfc-Button[type="submit"] {
                width: 100% !important;
                background: $bg-dark;
                border-radius: 150px;
                @include text-button;
                height: 48px;
                display: inline-flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background: $bg-accent !important;
                    transform: none !important
                }
            }
        }

    }

    &--test {
        background-color: #5D5FEF;
        padding: 30px 20px;
        border-radius: 0;

        @include flex(column, center, center);

        & .banner{
            &__content{
                @include flex(column, center, center);
            }

            &__title{
                font-weight: 600;
                text-align: center
            }

            &__description{
                @include body;
                color: $color-muted-inverse;
                text-align: center;
                opacity: 0.6;
            }

            &__image{
                width: 200px;
                height: 200px;
                object-fit: contain;
                object-position: center;
                aspect-ratio: 1/1;
                margin: $spacing-1 auto;
                pointer-events: none;
                transition: transform 0.3s ease-in-out;
            }

            &__button{
                margin-top: auto;
                color: $color-white;
                border: none;
                transition: transform 0.3s ease-in-out;
            }
        }

        &:hover{
            text-decoration: none;

            & .banner__title{
                text-decoration: underline;
            }

            & .banner__image{
                transform: scale(1.05);
            }
        }
    }
}

.archive-grid .banner {
    margin: 0;
    justify-content: center;
}

.newsletter-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-4;
    padding: $spacing-4;
    background-color: $bg-dark;

    @include less-than(lg) {
        grid-template-columns: 1fr;
        padding: $spacing-5 $spacing-2;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: $spacing-2;
    }

    &__form {
        & [data-hsfc-id=Renderer] .hsfc-RichText p,
        & [data-hsfc-id=Renderer] span {
            @include body;
            color: $color-white;
        }

        & [data-hsfc-id=Renderer] .hsfc-TextInput {
            border-radius: 8px !important;
            border-color: white !important;
            background-color: white !important;
            box-shadow: none !important;
            padding: 12.5px 20px !important;
            border-radius: 150px !important;
        }

        & .hsfc-Step__Content {

            padding: 0 !important;

            .hsfc-NavigationRow{
                margin-top: $spacing-1 !important;

            }

            & .hsfc-Button[type="submit"] {
                width: 100% !important;
                background: $bg-accent;
                border-radius: 150px;
                @include text-button;
                height: 48px;
                display: inline-flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background: $color-muted !important;
                    transform: none !important
                }
            }
        }
    }
}