.breadcrumbs,
.rank-math-breadcrumb {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    flex-wrap: wrap;
    gap: 8px;

    color: $color-text;

    @include body;

    & p {
        @include body;
    }

    & a {
        color: $color-muted;
        text-decoration: none;

        &:hover {
            color: $color-text;
        }
    }

    &__separator,
    .separator {
        color: $color-muted;
    }

    &--light,
    .hero--banner & {
        color: $color-white;

        & a {
            color: $color-muted-inverse;

            &:hover {
                color: $color-white;
            }
        }

        .breadcrumbs__separator,
        .separator {
            color: $color-muted-inverse;
        }

        .last {
            color: $color-white;
        }
    }




}