.breadcrumbs,
.rank-math-breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 8px;

    color: $color-text;

    @include body-md;

    & p {
        @include body-md;
    }

    & a {
        color: rgba(0, 0, 0, 0.6);
        text-decoration: none;

        &:hover {
            color: $color-text;
        }
    }

    &__separator,
    .separator {
        color: rgba(0, 0, 0, 0.6);
    }

    &--light,
    .hero--banner & {
        color: $color-white;

        & a {
            color: rgba(255, 255, 255, 0.6);

            &:hover {
                color: $color-white;
            }
        }

        .breadcrumbs__separator,
        .separator {
            color: rgba(255, 255, 255, 0.6);
        }

        .last {
            color: $color-white;
        }
    }




}