.cards {
    display: grid;
    gap: 16px;
}

.card {
    background-size: cover;
    border-radius: 20px;

    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__content {
        width: 100%;
        padding: 24px 32px;
        background: $bg-white;
        border-radius: 16px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    &__title a {
        color: $color-dark;
    }

    &__excerpt {
        width: 100%;
        @include body-md;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 24px;
    }

    &__cover {
        background-size: cover;
        aspect-ratio: 16/9;
        border-radius: 20px;
        position: relative;
    }

    &__tags {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    position: relative;

    &--post {
        min-height: 600px;
    }

    &--curved {
        padding: 0;
        justify-content: flex-start;
        min-height: 0;

        &>.card {
            &__content {
                height: 100%;
                margin-top: 12px;
                gap: 8px;
                background-color: $bg-muted;
            }
        }

    }

    &--expert {
        min-height: 700px;
        padding: 96px 60px;

        @include less-than('lg') {
            padding: 24px 24px 96px 24px;
            min-height: 0;
        }

        &>.card {
            &__content {
                padding: 32px;
            }

            &__excerpt {
                color: $color-muted;
            }

            &__tags {
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
            }
        }
    }

    &--app {
        min-height: 900px;
        padding: 32px 96px 96px 96px;
        background-color: $bg-muted;

        @include less-than('lg') {
            padding: 24px 24px 96px 24px;
            min-height: 0;
        }

        &>.card {
            &__image {
                width: 70%;
                object-fit: contain;
                align-self: center;
                margin-bottom: auto;
                margin-top: auto;
            }

            &__content {
                padding: 32px;
            }

            &__excerpt {
                color: $color-muted;
            }
        }
    }

    &--provider {
        padding: 60px 60px 96px 60px;
        background-color: $bg-muted;
        gap: 8px;

        @include less-than('lg') {
            padding: 24px 24px 96px 24px;
            min-height: 0;
        }


        &>.card {
            &__excerpt {
                color: $color-muted;
            }

            &__tags {
                margin-top: 24px;
                padding: 24px;
                background-color: $bg-white;
                border-radius: 12px;

            }
        }
    }
}