.hero {
    &--banner {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 72px 80px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;
        // min-height: min(calc(100vh - 96px), 700px);
        aspect-ratio: 21/9;

        @include less-than(md) {
            padding: 16px;
            min-height: 0;
            gap: 64px;
            aspect-ratio: auto;
        }

        .hero__breadcrumbs,
        .rank-math-breadcrumb {
            @include less-than('md') {
                justify-content: flex-start;
                text-align: start;
            }
        }


    }

    &--xl {
        aspect-ratio: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $color-white;
        text-wrap: balance;
        min-height: calc(100vh - 96px);

        gap: 40px;

        &>h2 {
            font-weight: 300;
        }
    }

    &__inner {
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 32px;
        padding: 64px;
        background-color: white;
        border-radius: 20px;

        @include less-than(md) {
            padding: 24px;
        }
    }
}