.tabs {

    &__header {
        display: flex;
        flex-direction: row;
        gap: $spacing-1;
        flex-wrap: nowrap;
        margin-bottom: $spacing-2;
    }

    &__body {
        margin-top: $spacing-2;
    }

    &__button {
        @include body;
        color: $color-muted;
        background-color: #F0F0F0;
        padding: 8px;
        border-radius: 150px;
        flex: 1;
        text-align: center;
        cursor: pointer;

        &--active {
            color: $color-white;    
            background-color: #2D2F30;
            pointer-events: none;
        }
    }

    &__content {
        display: none;
        opacity: 0;
        transform: translateY(10px);
        transition: all 0.3s ease-in-out;

        &--active {
            display: block;
            opacity: 1;
            transform: translateY(0);
        }
    }
}