button {
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    gap: 8px;
    border-radius: 150px;
    background-color: transparent;
    border: 1px solid #E8E8E8;
    text-align: center;
    white-space: nowrap;

    @include text-button;
    color: $color-text;

    &--secondary,
    &--muted {
        background: $bg-muted;
        border-color: $bg-muted;
    }

    &--accent {
        background: $bg-accent;
        border-color: $bg-accent;
        color: $color-white;
    }

    &--primary,
    &--dark {
        background: $bg-dark;
        border-color: $bg-dark;
        color: $color-white;
    }

    &--icon,
    &--arrow {
        padding-right: 16px;

        &::after {
            content: '';
            width: 20px;
            height: 20px;
            background-image: url('../icons/arrow-up-right.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    cursor: pointer;
    transition: opacity 0.1s ease-in-out;

    &:hover {
        text-decoration: none;
        opacity: 0.75;
    }

}

.arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 4px 4px 4px 18px;
    gap: 10px;
    border-radius: 150px;

    @include text-button;
    color: $color-text;
    background: $color-white;
    border-color: $color-white;

    &::after {
        content: '';
        width: 40px;
        height: 32px;
        background-image: url('../icons/button-arrow-right.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    cursor: pointer;

    transition: opacity 0.1s ease-in-out;

    &:hover {
        text-decoration: none;
        opacity: 0.75;
    }

    &--primary {
        background: $color-dark;
        border-color: $color-dark;
        color: $color-white;

        &::after {
            background-image: url('../icons/button-arrow-right--white.svg');
        }
    }

    &--muted {
        background: $bg-muted;
        border-color: $bg-muted;
    }
}

.text-btn {
    @include text-button;
    color: $color-text;
    border-bottom: 1px solid $color-text;
    padding-bottom: 4px;

    cursor: pointer;

    &:hover {
        text-decoration: none;
        border-bottom: 1px solid transparent;
    }
}

.label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    border: 1px solid $border-default;
    gap: 6px;
    height: 32px;
    border-radius: 150px;
    @include text-label;
    text-transform: uppercase;

    background-color: $bg-white;
    color: $color-muted;

    &--squared {
        border-radius: 4px;
    }

    &--muted {
        border-color: $bg-muted;
        background-color: $bg-muted;
    }

    &--primary {
        border-color: $color-dark;
        background-color: $color-dark;
        color: $color-white;
    }

    &--primary-inversed {
        border-color: $color-white;
        background-color: $color-white;
        color: $color-dark;
    }

    &--icon,
    &--arrow {
        padding-right: 12px;
        padding-left: 4px;

        &::before {
            content: '';
            width: 26px;
            height: 22px;
            background-image: url('../icons/label-arrow-right.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    &--clock {
        &::before {
            background-image: url('../icons/label-clock.svg');
        }
    }

    &--share {
        cursor: pointer;

        &::before {
            background-image: url('../icons/label-share.svg');
        }
    }

    &--muted {
        background: $bg-muted;
        border-color: $bg-muted;
    }

    transition: opacity 0.1s ease-in-out;

    &:is(a):hover {
        cursor: pointer;
        opacity: 0.75;
    }
}

.tags {
    &__title {
        display: block;
        width: 100%;
        @include heading-h6;
        // color: $color-muted;
        padding-bottom: 8px;
    }
}

.icon-tag {
    @include body;
    line-height: 100% !important;

    @include less-than('md') {
        @include body-sm;
    }

    color: $color-dark;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;

    padding-left: 28px;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        content: '';
        width: 24px;
        height: 24px;
        background-image: url('../icons/checkbox.svg');
        background-repeat: no-repeat;
    }

    &--rounded {
        border-radius: 150px;
        height: 40px;
        border: 1px solid $color-border;
        padding-left: 44px;
        padding-right: 12px;

        &::before {
            top: 8px;
            left: 14px;
        }
    }

    &--globe {
        &::before {
            background-image: url('../icons/globe.svg');
        }
    }

    &--map {
        &::before {
            background-image: url('../icons/map.svg');
        }
    }
}