.wp-block-list {
    li {
        margin-bottom: 16px;
    }
}

ul.wp-block-list {
    list-style: disc;
    padding-left: 24px;
}

ol.wp-block-list {
    list-style: decimal-leading-zero;
    padding-left: 44px;
}