.article__content,
.article-v2__content,
.page__content,
.page-v2__content,
.test-landing__content {

    .wp-block-heading {
        margin-top: $spacing-3 !important;

        @include less-than('md') {
            margin-top: $spacing-1 !important;
        }

        // font-weight: inherit !important;

        & strong {
            font-weight: inherit !important;
        }
    }


    & p,
    & li {
        @include body-md;
        color: $color-dark;
    }

    .wp-block-list {
        margin-top: $spacing-1 !important;
        margin-bottom: $spacing-1 !important;

        li {
            margin-bottom: $spacing-05;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    ul.wp-block-list {
        list-style: disc;
        padding-left: $spacing-2;
    }

    ol.wp-block-list {
        list-style: decimal;
        padding-left: $spacing-2;
    }


    .wp-block-pullquote,
    .wp-block-pullquote blockquote,
    .wp-block-quote {
        border: 0;
        padding: 0;
        background: transparent;

        & p {
            @include quote-lg;
            text-align: left;
            position: relative;

            & a {
                text-decoration: underline;
            }

            &:before {
                content: "“";

                font-size: 88px;
                line-height: 100%;
                height: 40px;
                width: 40px;
                color: $color-accent;
                position: absolute;
                left: 0
            }

        }

        & cite {
            @include body;
            margin-top: 8px;
            color: $color-muted;
            font-style: normal;
            text-align: right;

        }

    }

    .wp-block-pullquote,
    .wp-block-quote{

        margin-top: $spacing-3 !important;
        margin-bottom: $spacing-3 !important;

        & p{
            padding: $spacing-4 $spacing-2 $spacing-4 52px;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;

            &:has(+p) {
                border-bottom: 0 !important;
            }
        }
    
        & + .wp-block-heading {
            margin-top: 0 !important;
        }
    }
}

.has-drop-cap:not(:focus):first-letter {
    font-size: 8em;
    color: $color-primary;
    font-family: Instrument Serif;
    font-style: italic;

}