/**
 * Variables
 * Contains all theme variables
 */

// Colors
$color-primary: #007AFF;
$color-accent: #B877FF;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-light: #f8f9fa;
$color-dark: #202527;
$color-text: $color-dark;
$color-white: #FFFFFF;
$color-muted: #20252799;
$color-muted-inverse: #FFFFFF99;
$color-border: #E8E8E8;



//Backgrounds
$bg-muted: #F6F6F6;
$bg-white: #FFFFFF;
$bg-dark: $color-dark;
$bg-primary: $bg-white;
$bg-accent: $color-accent;

$border-default: $color-border;

// Typography
$font-primary: 'Almarai', sans-serif;
$font-secondary: 'Figtree', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;

// Spacing
$spacing-unit: 10px;
$spacing-05: $spacing-unit * 0.5;
$spacing-1: $spacing-unit;
$spacing-2: $spacing-unit * 2;
$spacing-3: $spacing-unit * 3;
$spacing-4: $spacing-unit * 4;
$spacing-5: $spacing-unit * 6;
$spacing-6: $spacing-unit * 8;
$spacing-7: $spacing-unit * 16;

// Grid System
$grid-gap: $spacing-4;
$grid-gap-sm: $spacing-2;
$grid-gap-lg: $spacing-5;
$grid-gap-xl: $spacing-5;
$grid-container-padding: $spacing-6;
$grid-max-columns: 12;

// Z-index
$z-index-dropdown: 1000;
$z-index-sticky: 1020;
$z-index-fixed: 1030;
$z-index-modal-backdrop: 1040;
$z-index-modal: 1050;
$z-index-popover: 1060;
$z-index-tooltip: 1070;

// Border
$border-radius: 4px;
$border-width: 1px;
$border-color: #dee2e6;

// Transitions
$transition-base: all 0.3s ease-in-out;
$transition-fast: all 0.15s ease-in-out;
$transition-slow: all 0.5s ease-in-out;