.archive {
    &__title {
        padding-top: 72px;
        padding-bottom: 64px;
    }
}

.archive-title {
    padding-top: 72px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    @include less-than('md') {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    text-align: center;

    &__breadcrumbs,
    .rank-math-breadcrumb {
        margin-bottom: 40px;
    }

    &__description {
        color: #20252799;
        max-width: 1200px;
        text-wrap: pretty;
        font-weight: 400 !important;
    }
}

.topics-section+.archive-grid,
.tests-section+.archive-grid {
    padding-top: 64px;
}