.archive {
    &__title {
        padding-top: 72px;
        padding-bottom: 64px;
    }
}

.archive-title {
    padding-top: 72px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    @include less-than('md') {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    text-align: center;

    &__breadcrumbs,
    .rank-math-breadcrumb {
        margin-bottom: 40px;
    }

    &__description {
        color: #20252799;
        max-width: 1200px;
        text-wrap: pretty;
        font-weight: 400 !important;
    }
}

.topics-section+.archive-grid,
.tests-section+.archive-grid {
    padding-top: 64px;
}

.archive-title-v2{
    padding-top: $spacing-6;
    padding-bottom: $spacing-4;
    display: flex;
    flex-direction: column;
    gap: $spacing-2;

    &__breadcrumbs,
    .rank-math-breadcrumb{
        margin-bottom: $spacing-5;
    }

    &__name{
        @include heading-h1;
        // font-weight: 600;
        color: $color-dark;
    }

    &__description{
        @include body-lg;
        color: $color-muted;
    }

    &__cover{
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: center;
        margin-top: $spacing-2;
    }
}