.article {
    display: grid;

    align-items: flex-start;
    grid-template-columns: 1fr 350px;
    gap: 64px;
    margin-top: 64px;
    margin-bottom: 16px;

    @include less-than(xl) {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include less-than('xl') {
            order: 1;
        }

        & .banner {
            margin-top: 32px;
            margin-bottom: 32px;

            @include less-than('xl') {
                margin-top: 16px;
                margin-bottom: 16px;
            }
        }


        & h2,
        &>*:first-child {
            scroll-margin-top: 80px;
        }

    }

    position: relative;

    &__sidebar {
        position: sticky;
        top: 96px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        &>img {
            width: 100%;
        }

        @include less-than('xl') {
            order: 2;
            position: static;
        }

    }

    &__sources {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        & h2 {
            // color: $color-muted;
            font-family: "Instrument Serif", serif;
            font-style: italic;
        }

        & nav {
            display: flex;
            flex-direction: column;
            // gap: 16px;
            padding: 32px;

            & a {
                font-size: 16px;
                line-height: 120%;
                word-break: break-all;
                text-wrap: unset;
            }
        }
    }
}

.sidebar-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;

    padding: 24px;
    background: $bg-muted;
    border-radius: 16px;

    position: relative;

    @include less-than('md') {
        padding: 24px 16px;
    }

    &__excerpt {
        color: #20252799;
    }

    &__link {
        margin-top: 12px;
    }

    &__avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 12px;
    }

    &__time {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        margin-top: 12px;

        &-value {
            color: $color-muted;
        }
    }

    &__share {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        margin-top: 12px;

        &-icons {
            display: flex;
            flex-direction: row;
            gap: 6px;
        }
    }

    &--quiz {
        background-color: $bg-accent;

        .sidebar-card__title {
            color: $color-white;
            padding-bottom: 4px;
        }

        .sidebar-card__excerpt {
            color: $color-white;
        }
    }

}