.article {
    display: grid;

    align-items: flex-start;
    grid-template-columns: 1fr 350px;
    gap: 64px;
    margin-top: 64px;
    margin-bottom: 16px;

    @include less-than(xl) {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include less-than('xl') {
            order: 1;
        }

        & .banner {
            margin-top: 32px;
            margin-bottom: 32px;

            @include less-than('xl') {
                margin-top: 16px;
                margin-bottom: 16px;
            }
        }


        & h2,
        &>*:first-child {
            scroll-margin-top: 160px;
        }

    }

    position: relative;

    &__sidebar {
        position: sticky;
        top: 120px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        &>img {
            width: 100%;
        }

        @include less-than('xl') {
            order: 2;
            position: static;
        }

    }

    &__sources {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        & h2 {
            // color: $color-muted;
            font-family: "Instrument Serif", serif;
            font-style: italic;
        }

        & nav {
            display: flex;
            flex-direction: column;
            // gap: 16px;
            padding: 32px;

            & a {
                font-size: 16px;
                line-height: 120%;
                word-break: break-all;
                text-wrap: unset;
            }
        }
    }
}

.sidebar-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;

    padding: 24px;
    background: $bg-muted;
    border-radius: 16px;

    position: relative;

    @include less-than('md') {
        padding: 24px 16px;
    }

    &__excerpt {
        color: #20252799;
    }

    &__link {
        margin-top: 12px;
    }

    &__avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 12px;
    }

    &__time {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        margin-top: 12px;

        &-value {
            color: $color-muted;
        }
    }

    &__share {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        margin-top: $spacing-2;

        &-icons {
            display: flex;
            flex-direction: row;
            gap: 6px;
        }
    }

    &--quiz {
        background-color: $bg-accent;

        .sidebar-card__title {
            color: $color-white;
            padding-bottom: 4px;
        }

        .sidebar-card__excerpt {
            color: $color-white;
        }
    }

}

.article-v2 {
    display: grid;
    grid-template-columns: 310px 1fr;
    gap: $spacing-4;
    margin-bottom: 80px;

    @include less-than(xl) {
        grid-template-columns: 1fr;
        gap: $spacing-2;
        margin-bottom: 40px;
    }

    &__meta {
        display: flex;
        flex-direction: column;
        gap: $spacing-2;

        @include less-than('lg') {
            flex-direction: row;
            flex-wrap: wrap;
            gap: $spacing-2;
            margin-bottom: $spacing-2;
        }

        &-item {
            display: flex;
            flex-direction: column;
            gap: $spacing-05;
            align-items: flex-start;
        }

        &-label {
            color: $color-muted;
            @include body-sm;
        }

        &-value {
            color: $color-dark;
            @include body;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: $spacing-2;
    }

    &__title {
        @include heading-h2;
        @include bold;
        color: $color-dark;
        text-wrap: pretty;
    }

    &__excerpt {
        @include body-lg;
        color: $color-dark;
    }

    &__author {
        display: grid;
        grid-template-columns: 60px 1fr 2fr;
        gap: $spacing-2;
        padding: $spacing-2;
        margin-top: $spacing-4;
        margin-bottom: $spacing-4;
        height: 100px;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;

        @include less-than('lg') {
            grid-template-columns: 1fr;
            height: auto;
            padding: $spacing-2 0;
            margin-top: $spacing-2;
            margin-bottom: $spacing-2;
        }

        &-name {
            color: $color-muted;

            &>a {
                color: $color-dark;
                pointer-events: none;
            }
        }

        &-description {
            color: $color-muted;
        }

        &-avatar {
            &>img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
        }
    }

    &__cover {
        width: 100%;
    }

    &__content {
        &-wrapper {
            display: grid;
            grid-template-columns: 1fr 310px;
            gap: $spacing-4;
            margin-top: $spacing-2;

            @include less-than('lg') {
                grid-template-columns: 1fr;
            }
        }

        display: flex;
        flex-direction: column;
        gap: $spacing-1;

        @include less-than('lg') {
            order: 2;
        }

        & .banner {
            margin-top: $spacing-3;
            margin-bottom: $spacing-3;

            @include less-than('xl') {
                margin-top: $spacing-1;
                margin-bottom: $spacing-1;
            }
        }


        & h2,
        &>*:first-child {
            scroll-margin-top: 160px;
        }

        & h2 {
            @include heading-h4;
            font-weight: 600;
        }

        & h3 {
            @include heading-h5;
        }

        & h4 {
            @include heading-h6;
        }
    }

    &__sidebar {
        
        display: flex;
        flex-direction: column;
        gap: $spacing-2;

        position: sticky;
        top: 120px;
        align-self: flex-start;

        @include less-than('xxl') {
            align-self: flex-end;
            top: initial;
            bottom: $spacing-1;
        }

        @include less-than('lg') {
            position: static;
            order: 1;
        }
    }

    &__share{
        margin-top: $spacing-3;
        padding-top: $spacing-4;
        border-top: 1px solid $border-color;
    }

    &__sources{
        & nav {
            display: flex;
            flex-direction: column;
            gap: $spacing-1;
            margin-top: $spacing-05;
            padding-top: $spacing-05;

            & a {
                @include body;
                color: $color-accent;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-all;
                text-wrap: unset;

            }
        }
    }
}