.footer {
    display: flex;
    justify-content: center;
    margin-top: 160px;
    background-color: $bg-dark;
    padding: 48px 64px 128px;
    border-radius: 20px;

    &__logo {
        width: 100%;
    }

    position: relative;
}