.footer {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
    margin-top: $spacing-4;
    background-color: $bg-dark;
    padding: $spacing-4;
    // border-radius: 20px;

    @include less-than('xl') {
        margin-top: 60px;
        grid-template-columns: 1fr;
        padding: 48px 16px 64px 16px;
        gap: 40px;
    }

    &--focused {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .footer__links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-top: 0;
        }
    }

    & p{
        color: $color-muted-inverse;
    }

    &__logo {
        max-width: 200px;
        width: 100%;

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__menu-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $spacing-4;
    }

    &__menu-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: $spacing-2;
        margin-top: $spacing-1;

        border-top: 1px solid #403F3C;
    }

    &__links {
        display: flex;
        gap: $spacing-2;
        flex-wrap: wrap;

        & a {
            color: $color-muted-inverse;

        }
    }

    &__copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $spacing-2;

        @include less-than('lg') {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    & .community-banner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $spacing-4;
        background: #2D2F30;
        padding: $spacing-4;

        @include less-than('xl') {
            padding: $spacing-2;
        }

        @include less-than('lg') {
            grid-template-columns: 1fr;
        }

        &__actions {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 20px;
        }

        & h4 {
            color: #F1F1F1;

        }

        & p,
        & ul,
        & li {
            color: #FAF9F7;
            @include body-sm;

        }

        & .flex-column{
            gap: $spacing-2;
        }
    }

    & .newsletter-section__card {
        & .heading-h1 {
            color: $color-white;
        }

        & .heading-h6 {
            color: $color-white;
        }


        & [data-hsfc-id=Renderer] .hsfc-RichText p,
        & [data-hsfc-id=Renderer] span {
            color: $color-muted-inverse;
        }

        & [data-hsfc-id=Renderer] .hsfc-TextInput {
            border-radius: 8px !important;
            border-color: $bg-dark !important;
            background-color: $color-muted-inverse !important;
            color: $color-white !important;
        }

        & .hsfc-Step__Content {
            display: flex !important;
            & .hsfc-Button[type="submit"] {
                background: $bg-accent;

                &:hover {
                    background: $bg-white !important;
                    color: $color-dark !important;
                }
            }

        }

    }


    position: relative;

    @include less-than('xl') {
        &>.corner {
            font-size: 12px;
            // display: none;
            // padding: 0;

            // &::before,
            // &::after {
            //     display: none;
            // }
        }
    }
}