.page {
    &__content {
        margin-top: 64px;
        margin-bottom: 64px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        & p,
        & li {
            @include body-md;
            color: #202527;
        }
    }
}

.page-template-focused {
    padding-top: $spacing-2;

    .page__content {
        margin-top: $spacing-2;
    }
}