.page {
    &__content {
        margin-top: 64px;
        margin-bottom: 64px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        & p,
        & li {
            @include body-md;
            color: #202527;
        }
    }
}

.page-template-focused {
    padding-top: $spacing-2;

    .page__content {
        margin-top: $spacing-2;
    }
}

.page-v2 {
    display: grid;
    grid-template-columns: 1fr 660px 1fr;
    gap: $spacing-4;
    margin-bottom: 80px;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: $spacing-4;
    }

    &__title{
        @include heading-h2;
        color: $color-dark;
        margin-bottom: $spacing-4;
        @include bold;

    }
}